h1,h2,h3,h4,h5 {
  font-family: helvetica;
  text-transform: uppercase;
  font-weight: 200;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    opacity: 0.1;
}

p{
  font-size: 13px;
}
